
<footer class="bg-[#121212] text-white py-20 border-t border-gray-900">
  <div class="container mx-auto px-6 flex flex-col items-center text-center">
    
    <div class="max-w-md mb-9">
      <h3 class="text-2xl font-semibold mb-3">Let's build something amazing together</h3>
      <p class="text-gray-500 text-sm">
        Currently available for freelance projects and full-time opportunities.
      </p>
    </div>

    <div class="flex gap-8 mb-9">
      <a href="#" class="text-gray-400 hover:text-secondary text-2xl transition-all duration-300 transform hover:-translate-y-2">
        <i class='bx bxl-github'></i>
      </a>
      <a href="#" class="text-gray-400 hover:text-secondary text-2xl transition-all duration-300 transform hover:-translate-y-2">
        <i class='bx bxl-linkedin-square'></i>
      </a>
      <a href="#" class="text-gray-400 hover:text-secondary text-2xl transition-all duration-300 transform hover:-translate-y-2">
        <i class='bx bxl-instagram'></i>
      </a>
      <a href="#" class="text-gray-400 hover:text-secondary text-2xl transition-all duration-300 transform hover:-translate-y-2">
        <i class='bx bxl-behance'></i>
      </a>
    </div>

    <div class="flex flex-col md:flex-row items-center gap-4 md:gap-10 bg-[#1a1a1a] px-8 py-4 rounded-full border border-gray-800 shadow-lg ">
      <a href="mailto:ibrahimolamide556@gmail.com" class="flex items-center gap-2 text-gray-300 hover:text-secondary transition-colors">
        <i class='bx bx-mail-send text-xl'></i>
        <span class="text-sm">ibrahimolamide556&#64;gmail.com</span>
      </a>
      <div class="hidden md:block w-px h-4 bg-gray-700"></div> <a href="tel:+2347053309575" class="flex items-center gap-2 text-gray-300 hover:text-secondary transition-colors">
        <i class='bx bx-phone-call text-xl'></i>
        <span class="text-sm">+234 705 330 9575</span>
      </a>
    </div>

    <!-- <p class="text-[10px] text-gray-600 uppercase tracking-[0.2em]">
      &copy; 2026 Designed & Developed by Ahmed
    </p> -->

  </div>
</footer>