<section class="min-h-screen flex items-center px-[5%] md:px-[10%] bg-primary pt-20 md:pt-32 pb-12">
  <div class="flex flex-col md:grid md:grid-cols-2 gap-10 w-full items-center">
    
    <div class="flex justify-center items-center order-1 md:order-2">
      <!-- <div class="hexagon-shape w-[250px] h-[280px] md:w-[400px] md:h-[440px]"> -->
        <!-- <img src="assets/profile-pic.png" alt="Profile" class="w-[95%] h-[95%] object-cover hexagon-shape bg-primary"> -->
         <img src="assets/profile-pic.png" alt="Profile" class="w-[75%] h-[75%] object-cover bg-primary rounded-full">
      <!-- </div> -->
    </div>

    <div class="flex flex-col items-center md:items-start text-center md:text-left order-2 md:order-1">
      <h3 class="text-xl md:text-3xl font-bold">Hello, It's Me</h3>
      <h1 class="text-4xl md:text-6xl font-bold my-2 leading-tight">Ahmed Talal</h1>
      <h3 class="text-xl md:text-3xl font-bold">And I'm a <span class="text-secondary">Flutter Developer</span></h3>
      
      <p class="text-gray-300 mt-5 text-sm md:text-lg max-w-lg">
       Turning your ideas into smooth and fast mobile applications
      </p>

      <div class="flex gap-4 mt-8">
        <a href="#" class="w-10 h-10 border-2 border-secondary rounded-full flex items-center justify-center text-secondary hover:bg-secondary hover:text-primary transition-all">
          <i class='bx bxl-github text-xl'></i>
        </a>
         <a href="#" class="w-10 h-10 border-2 border-secondary rounded-full flex items-center justify-center text-secondary hover:bg-secondary hover:text-primary transition-all">
          <i class='bx bxl-facebook text-xl'></i>
        </a>
        <a href="#" class="w-10 h-10 border-2 border-secondary rounded-full flex items-center justify-center text-secondary hover:bg-secondary hover:text-primary transition-all">
          <i class='bx bxl-linkedin text-xl'></i>
        </a>
      </div>

      <a href="#" class="mt-10 px-6 py-2 md:px-8 md:py-3 bg-secondary text-primary font-bold rounded-full shadow-[0_0_15px_#0ef] hover:shadow-none">
        Download CV
      </a>
    </div>

  </div>
</section>
